/** @format */
.full-recipe-content {
	width: 100%;
}
.full-recipe-content > a {
	position: relative;
	top: 20px;
	font-family: metro-light;
	cursor: pointer;
}
.full_description_column {
	position: relative;
	top: 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.image_overlay {
	position: relative;
	height: 200px;
	width: 350px;
	border-radius: 10px;
}
.col_1-img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	position: absolute;
}

.overlay_button {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.overlay_button > h5 {
	color: #ffffff;
	font-family: metro-light;
}
.column_1,
.column_2 {
	padding: 20px;
}
.column_1 > h2 {
	font-family: metro-bold;
}

.col-text {
	font-family: metro-light;
	line-height: 20px;
}

.light_text {
	color: grey;
	font-family: metro-light;
	font-size: 12px;
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
}

.column_2 > h1 {
	font-family: metro-bold;
	display: flex;
	justify-content: flex-end;
}
.star_rating {
	display: flex;
	justify-content: flex-end;
}
.star_rating > button {
	color: #ffffff;
	background: #000;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	font-family: metro-light;
	padding: 3px;
	width: 40px;
}
.col_2-text {
	text-align: right;
}

.three_circles {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
.three_circles > span {
	color: #fff;
	font-family: metro-light;
	background: #000;
	height: 100px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 13px;
	width: 100px;
}

.fav_section {
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}

.fav_section > h3 {
	font-family: metro-bold;
	margin-right: 20px;
}
.comment_here {
	color: grey;
	font-family: metro-light;
	font-size: 12px;
	display: flex;
	margin-top: 20px;
	justify-content: flex-start;
}

.column_2 > textarea {
	margin: 20px auto;
	width: 100%;
	border-radius: 10px;
	font-family: metro-light;
	box-sizing: border-box;
	resize: none;
	height: 150px;
	padding: 20px;
	outline: none;
	border: none;
}
.column_2 > button {
	color: #fff;
	font-family: metro-light;
	background: #000;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 15px;
	border: none;
	cursor: pointer;
	width: 100%;
}
button:focus {
	outline: none;
}
@media only screen and (max-width: 1000px) {
	.full_description_column {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media only screen and (max-width: 400px) {
	.image_overlay {
		width: 100%;
	}
}
